{% load static %}

<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <!-- insert item here -->
                    <li>
                      <a class="has-arrow" href="" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Faculty</span></a>
                      <ul class="submenu-angle collapse" aria-expanded="false">
                          <li><a title="All Faculty" href="{% url 'faculty-list' %}"><span class="mini-sub-pro">All Faculty</span></a></li>
                          <li><a title="Add Faculty" href="{% url 'add-faculty' %}"><span class="mini-sub-pro">Add Faculty</span></a></li>
                          <li><a title="Edit Faculty" href=""><span class="mini-sub-pro">Edit Faculty</span></a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="has-arrow" href="" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Department</span></a>
                      <ul class="submenu-angle collapse" aria-expanded="false">
                          <li><a title="All Department" href=""><span class="mini-sub-pro">All Department</span></a></li>
                          <li><a title="Add Department" href="{% url 'add-department' %}"><span class="mini-sub-pro">Add Department</span></a></li>
                          <li><a title="Edit Department" href=""><span class="mini-sub-pro">Edit Department</span></a></li>
                      </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </nav>
</div>
