<!doctype html>
<html class="no-js" lang="en">
{% load static %} {% include 'base/header.html' %}

<body>
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center m-b-md custom-login">
                <h3>PLEASE LOGIN TO APP</h3>
                <p>This is the best app ever!</p>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="" id="loginForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <span class="text-danger">{{ forms.username.errors }}</span>
                                <label class="control-label" for="username">Username</label>
                                {{ forms.username }}
                            </div>
                            <div class="form-group">
                                <p>
                                  <span class="text-danger">{{ pass_err }}</span>
                                </p>
                                <label class="control-label" for="password">Password</label>
                                {{ forms.password }}
                            </div>
                            <button class="btn btn-success btn-block loginbtn" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text-center login-footer">
              <a class="btn btn-light btn-block" href="#">Forgot password?</a>
              <hr>
              <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
            </div>
        </div>
    </div>
    <!-- jquery -->
    {% include 'base/js.html' %}
</body>

</html>
